/*Header Styling*/
.navbar-header{
	background: #003973; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #003973 , #E5E5BE); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #003973 , #E5E5BE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}
.navbar {
    border-bottom: 0 !important;
}

body{
	height: 100%;    
	/*Horizon*/
	background: #003973; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #003973 , #E5E5BE); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #003973 , #E5E5BE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
li{
	font-family: 'Montserrat', sans-serif;
}
a{
	font-family: 'Montserrat', sans-serif;
}




/*Home Styling*/
.homeContainer{
   height: 100%;
   background-image: url("../../modepics/modepic1.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 10%;
   float: right;
   overflow: auto;
}

/*Bio Styling*/
.bioContainer{
   height: 100%;
   background-image: url("../../modepics/modeBioPic.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 10%;
   float: right;
   overflow: auto;
}
.bioTextBlock{
  background: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  margin-top: 10em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: 30em;
  overflow: scroll;
}
.bioTextBlock p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
}



/*Sidebar Styling*/
.sidebar_nav{
	height: 100%;
	/*background-image: url("../../modepics/White-Brick-Wallpaper1.jpg");*/
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 10%;
	padding-left: 0 !important;
  	padding-right: 0 !important;
}
.side-bar-logo{
  background-image: url(../../modepics/modeLogo.png);
  width: 100% !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 11em;

}
.navbar-brand{
	overflow: auto !important;	
}
.side-bar-logo-mobile{
  background-image: url(../../modepics/modeLogo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 35%;
  width: 6em;
  height: 5em;
}
.sidebar_nav ul{
  padding-left: 0;
  margin-top: 1em;
}
.sidebarLinks{
	list-style-type: none;
  	/*border-top: 1px solid #7F8C8D;*/
  	text-align: center;
  	margin-top: .2em;
}
.sidebarLinks a{
  color: rgb(35,62,116);
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 2.75em;
}
.sidebarLinks_last{
	list-style-type: none;
  	border-top: 1px solid #7F8C8D;
  	text-align: center;
  	margin-top: .2em;	
  	border-bottom: 0px;
}
.sidebarLinks_last a{
	color: black;
  	font-family: 'Montserrat', sans-serif;
  	font-size: 2em;
}
.sidebarLinks a:hover{
  color: #7F8C8D;
  text-decoration: none;
}
.sidebarLinks_last a:hover{
  color: #7F8C8D;
  text-decoration: none;
}




/*Gallery Styling*/
.galleryContainer{
   height: 100%;
   /*background-image: url("../../modepics/mode-gallery-pic.jpg");*/
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 10%;
   float: right;
}
.item{
   height: 100%;
   width: 100%;
}
.item img{
	max-height: 100%;  
	max-width: 100%; 
	position: absolute;  
	top: 0;  
	bottom: 0;  
	left: 0;  
	right: 0;  
	margin: auto;
}
.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}

/*Videos Styling*/
.videosContainer{
	height: 100%;
	background-image: url("../../modepics/mode-videos-pic.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 10%;
	float: right;
	overflow: scroll;
}
.videos{
	margin-top: 4em;
}

/*Mixes Styling*/
.mixesContainer{
   height: 100%;
   background-image: url("../../modepics/modedownloadpic.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 10%;
   float: right;
   overflow: scroll;
}
.mixesContainer a{
	position: relative;
	top: 50%;
}
.mixesContainer a{
	position: relative;
	top: 50% ;
	color: white;
	font-size: 6em;
	transition: 1s;
}
.mixesContainer a:hover{
	text-decoration: none;
	color: white;
	position: relative;
	top: 48%;
	transition: 1s;
}
.music-title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-align: center;
	margin-top: 10em;
	margin-bottom: 15em;
}
.mixesContainer p{
	color: white;
	font-size: 3em;
	/*margin-top: 2em;*/

}
.wp-audio-shortcode{
	margin-top: 2em;
	margin-bottom: 10em;
}
.mixesContainer img{
	width: 9em;
	margin-left: auto;
	margin-right: auto;
}




/*Blog Styling*/
.blogContainer{
   height: 100%;
   background-image: url("../../modepics/modeblogpic.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 10%;
   float: right;
   overflow: scroll;
}
.blog-section{
	position: relative;
	top: 4em;
}
.blog-section li{
	list-style-type: none;
}
.blog-header{
	font-size: 2em;
	color: white;
	margin-bottom: 1em;
}
.blog-content{
	margin-bottom: 10em;
}



/*shop Styling*/
.shopContainer{
   height: 100%;
   background-image: url("../../modepics/modeshoppic.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 10%;
   float: right;
}
.shopContainer a{
	position: relative;
	top: 50% ;
	color: white;
	font-size: 6em;
	transition: 1s;
}
.shopContainer a:hover{
	text-decoration: none;
	color: white;
	position: relative;
	top: 48%;
	transition: 1s;
}


/*Contact Styling*/
.contactContainer{
   height: 100%;
   background-image: url("../../modepics/modecontactpic.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 10%;
   float: right;
   overflow: auto;
}
.contact-email{
	text-decoration: none;
	color: white;
	font-size: 4em;
	position: relative;
	top: 5em;
	transition: 1s;
	text-align: center;
}
.contact-email li:hover{	
	text-decoration: none;
}
.contact-links li:hover{	
	text-decoration: none;
}
.contact-links{
	list-style: none;
	height: auto;
	margin-top: 5em;
	text-align: center;
}
.contact-links li{	
	display: inline-block;
	position: relative;
	top: 20em;
	transition: 1s;
}

/*Links*/
.twitter-link{
	background-image: url("../../modepics/twitter.svg");
	display: inline-block;
	height: 5em;
	width: 5em;
	background-size: contain;
	background-repeat: no-repeat;
}
.facebook-link{
	background-image: url("../../modepics/facebook.svg");
	display: inline-block;
	height: 5em;
	width: 5em;
	background-size: contain;
	background-repeat: no-repeat;
}
.instagram-link{
	background-image: url("../../modepics/Instagram.png");
	display: inline-block;
	height: 5em;
	width: 5em;
	background-size: contain;
	background-repeat: no-repeat;
	
}
.soundcloud-link{
	background-image: url("../../modepics/soundcloud.svg");
	display: inline-block;
	height: 8em;
	width: 8em;
	background-size: contain;
	background-repeat: no-repeat;
}


/*Blog Styling*/
.blog-content img{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}


/*Footer Styling*/
.footer{
	width: 90%;
  	text-align: center;
  	position: absolute;
  	bottom: .5em;
  	color: white;
  	margin-left: 25%;
}


.c1{
	height: auto;
  	background-image: url("../../gallerypics/1.jpg");
  	background-size: cover;
}



@media (max-width: 415px){
	.bioTextBlock{
		margin-top: 6em;
	}
}

@media (max-width: 514px){
	.bioTextBlock{
		margin-top: 10em;
	}
	.homeContainer{
		height: 70% !important;
		margin-top: 15%;
	}
	.contact-email{
	font-size: 2em !important;	
	}
}

@media (max-width: 767px){
	nav{
		background-color: white !important;
		margin-bottom: 0 !important;
	}
	.homeContainer{
		height: 80% !important;
	}
	.sidebar_nav{
		display: none;
	}
	.sidebar_nav li{
		display: none;
	}
	.side-bar-logo{
	  display: none;
	}
	.homeContainer{
   		height: 91.3%;
	}
	.bioContainer{
   		height: 91.3%;
	}
	.galleryContainer{
   		height: 91.3%;
	}
	.pressKitContainer{
   		height: 91.3%;
	}
	.videosContainer{
   		height: 91.3%;
	}
	.mixesContainer{
   		height: 91.3%;
	}
	.blogContainer{
   		height: 91.3%;
	}
	.shopContainer{
   		height: 91.3%;
	}
	.contactContainer{
   		height: 91.3%;
	}
	.contact-email{
		font-size: 2.25em;
		position: relative;
		top: 6em;
	}
	.footer{
		margin-left: 9%;
	}
}


@media(max-width: 840px){
	.blog-content img{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	}
	.shopContainer a{
		font-size: 4em;
	}
}

@media (max-width: 992px){
	.mixesContainer img{
	width: 6em;
	margin-left: auto;
	margin-right: auto;
	}
	.contact-email{
		font-size: 3.5em;
		z-index: 999;
	}
	.contact-links li{	
	margin-bottom: 4em;
	}	
}

@media (min-width: 768px){
	.navbar{
		display: none;
	}
	.contact-links li:hover{	
	text-decoration: none;
	color: white;
	position: relative;
	top: 19em;
	transition: 1s;
	}
	.contact-email:hover{
	text-decoration: none !important;
	color: white;
	position: relative;
	top: 4.85em;
	transition: 1s;
	}

}

 .navbar.transparent.navbar-inverse .navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}
